<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova entrega à ser feita. Confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data/Hora: </strong> {{ start_date }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Dirija com cuidado.
  </small>
</p>
